#heading {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

*a {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    height: 600px;
    width: auto;
    gap: 10px;
    flex-wrap: wrap;
}

.box {
    border: 2px solid rgb(1, 139, 139);
    background-color: rgba(0, 235, 235, 0.795);
    border-radius: 8px;
    max-width: 275px;
    max-height: 400px;
    flex-basis: 100%;
    min-height: 250px;
}

@media all and (max-width: 800px;){

.container {
  display: flex;
  flex-direction: column;
}
}